.dropdownFormEmail {
    .ui.selection.dropdown {
        border: none;
    }
   
    hr {
        // margin-top: 0%;
        // margin-bottom: 0%;
        // margin-right: 2%;
        // margin-left: 2%;
        margin: 0% 3% 0% 3%;
        border-top: 1px solid #d6d6d8;
    }
}
