.sorcesList {
  margin-top: 3px;
  padding-left: 29%;
  // color: #ebeaea;
  overflow: auto;
  max-height: 17vh;

  .source {
    cursor: pointer;
    padding: 2px;
    margin: 1px;
  }
  .source:hover,
  .selected {
    background-color: #f1f1f324;
  }
  .name {
    padding-left: 10px;
  }
}
.darkText {
  color: black;
}
.lightText {
  color: #ebeaea; 
}

@media (max-width: 767px) {
  .sorcesList {
    display: none !important;
  }
}
